<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="https://cdn.jsdelivr.net/gh/needleworm/101/img/mainCover.jpg" class="img-responsive bookcover" alt="">
            <h5>비전공자가 업무에서 많이 물어보는 101가지 컴퓨터 활용팁</h5>
            <h6>#어쩐지 #옆자리 #퇴근이 #빠르더라</h6>
            <ul class="list-inline ">
                <li>
                    <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=20739091" target="_blank" rel="noreferrer">
                        <img src="img/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ISBN=897050494X&start=pnaver_02" target="_blank" rel="noreferrer">
                        <img src="img/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.yes24.com/Product/Goods/102593399" target="_blank" rel="noreferrer">
                        <img src="img/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href=" http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&ejkGb=KOR&linkClass=&barcode=9788970504940" target="_blank" rel="noreferrer">
                        <img src="img/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
