<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="https://cdn.jsdelivr.net/gh/needleworm/frontend/img/mainCover.jpg" class="img-responsive bookcover" alt="">
            <h5>코딩만 따라해도 웹페이지가 만들어지는<br/>HTML, CSS, 자바스크립트</h5>
            <h6>#이렇게 #쉽게 #프론트엔드 #만들기 #가능?</h6>
            <ul class="list-inline ">
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img src="img/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img src="img/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img src="img/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img src="img/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
