<!-- markets -->
<section  id="part2" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 3</div><br/>
        <div class="chapterSubtitle">HTML만 배워도 할 수 있는 게 엄청 많다면서요?</div>
        <p class="chapters">
          <strong>3-1</strong> HTML이란?<br/>
          <strong>3-2</strong> HTML 가지고 놀기<br/>
          <strong>3-3</strong> HTML 문서 작성하기<br/>
          <strong>3-4</strong> 웹 페이지 작성의 규칙을 따르자<br/>
        </p>
      </div>
      <br/><br/><hr/><br/>

        
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 4</div>
        <div class="chapterSubtitle">HTML 공부는 태그만 알면 끝난다면서요?</div>
        <p class="chapters">
          <strong>4-1</strong> 태그란 무엇인가요?<br/>
          <strong>4-2</strong> 자주 쓰는 태그의 종류<br/>
          <strong>4-3</strong> 태그를 더욱 쉽게 공부하는 방법<br/>
          <strong>4-4</strong> 새 프로젝트 시작하기<br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 5</div>
        <div class="chapterSubtitle">HTML도 배웠으니 인스타그램을 만들어볼까요?
          <a href="https://github.com/needleworm/instagram" target="_blank"><u>Code</u> <i class="fa-brands fa-github"></i></a>
          <a href="https://needleworm.github.io/instagram/" target="_blank"><u>Example</u> <i class="fa-brands fa-instagram"></i></a><br/>
        </div>
        <p class="chapters">
          <strong>5-1</strong> 정보의 기초적인 표현<br/>
          <strong>5-2</strong> 조금 더 다채로운 정보를 표현하는 방법<br/>
          <strong>5-3</strong> 추상적 정보의 컨테이너, div<br/>
          <strong>5-4</strong> 하이라이트 이미지와 게시물 이미지 삽입<br/>
        </p>
      </div>
      

      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 6</div>
        <div class="chapterSubtitle">[도전!] 웹 페이지를 더욱 풍성하게 만들고 싶다면</div>
        <p class="chapters">
          <strong>6-1</strong> 검색창의 구현과 input 태그의 다양한 활용법<br/>
          <strong>6-2</strong> 깃허브에 코드 푸시하기<br/>
        </p>
      </div>
    </div>
  </section>
