<!-- markets -->
<section  id="part3">
    <div class="container" style="text-align:center;">
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 7</div><br/>
        <div class="chapterSubtitle">CSS, 웹 페이지를 아름답게 만들어줘요</div>
        <p class="chapters">
          <strong>7-1</strong> CSS 기초 사용법<br/>
          <strong>7-2</strong> 복합 선택자<br/>
          <strong>7-3</strong> 스타일의 중첩<br/>
          <strong>7-4</strong> 캐스케이딩<br/>
          <strong>7-5</strong> 캐스케이딩의 실전 활용<br/>
        </p>
      </div>
      <br/><br/><hr/><br/>
        
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 8</div>
        <div class="chapterSubtitle">CSS,이 정도만 알면 전문가죠</div>
        <p class="chapters">
          <strong>8-1</strong> CSS의 다양한 스타일 속성<br/>
          <strong>8-2</strong> div태그의 그리드 표현<br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 9</div>
        <div class="chapterSubtitle">CSS를 더해 인스타그램 완성</div>
        <p class="chapters">
          <strong>9-1</strong> 중요한 폴더나 파일을 숨기기 - 폴더/파일 숨김<br/>
          <strong>9-2</strong> 탐색기에서 파일 내용을 미리보기 - 미리 보기 창<br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 10</div>
        <div class="chapterSubtitle">[도전!] 업계에서 가장 핫하죠, 반응형 웹 페이지</div>
        <p class="chapters">
          <strong>10-1</strong> 동적 사이즈 지정을 통한 반응형 웹 페이지<br/>
          <strong>10-2</strong> 미디어 쿼리와 반응형 웹 페이지<br/>
        </p>
      </div>
    </div>
  </section>
