<!-- markets -->
<section  id="part2" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 1</div><br/>
        <div class="chapterSubtitle">업무 효율이 올라가는 윈도우 단축키 모음팁</div>
        <p class="chapters">
          <strong>001</strong> 프로그램 설치 없이 가장 빠르게 캡처하기 - 전체 화면 캡처<br/>
          <strong>002</strong> 프로그램 설치 없이 원하는 영역만 쉽게 캡처하기 - 부분 화면 캡처<br/>
          <strong>003</strong> 여러 작업 창을 보기 좋게 정렬하기 - 화면분할<br/>
          <strong>004</strong> 마우스 휠로 화면 크기를 확대/축소하기 - 화면 확대/축소<br/>
          <strong>005</strong> 빠른 입력을 돕는 팔방미인 Tab 키, 100% 활용하기 - 한번에 여러 칸 이동<br/>
          <strong>006</strong> 웹 브라우저에서 새 탭을 빠르게 열기 - 새 탭 열기<br/>
          <strong>007</strong> 웹 브라우저에서 탭을 빠르게 이동하기 - 탭 이동<br/>
          <strong>008</strong> 웹 브라우저에서 새 창을 빠르게 열거나 닫기 - 새 창 열기 / 닫기<br/>
          <strong>009</strong> 기록을 남기지 않고 웹 브라우저 사용하기 - 시크릿 모드<br/>
          <strong>010</strong> 이전에 복사했던 데이터를 다시 붙여넣기 - 고급 클립보드<br/>
        </p>
      </div>
      <br/><br/><hr/><br/>
        
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 2</div>
        <div class="chapterSubtitle">업무 속도를 높이는 단축키 모음</div>
        <p class="chapters">
          <strong>011</strong> 모든 작업 창을 한눈에 보기 - 작업보기<br/>
          <strong>012</strong> 모든 작업 창을 한눈에 보기 (노트북 전용) - 작업보기<br/>
          <strong>013</strong> 단번에 모든 작업 창을 사라지게 하기 - 모든 창 최소화<br/>
          <strong>014</strong> 프로그램 창과 데스크톱을 빠르게 전환하기 - 프로그램창, 가상 데스크톱 전환<br/>
          <strong>015</strong> 작업표시줄에 고정된 프로그램을 빠르게 실행하기 - 작업표시줄 프로그램 실행<br/>
          <strong>016</strong> 웹 브라우저에서 탭을 순식간에 전환하기 - n번째 탭으로 전환<br/>
          <strong>017</strong> 다른 사람이 사용 못 하게 컴퓨터를 단숨에 잠그기 - 로그아웃<br/>
          <strong>018</strong> 마우스 우클릭 없이 폴더/파일 이름 간편하게 변경하기 - 파일 및 폴더 이름 변경<br/>
          <strong>019</strong> 자주 쓰는 프로그램을 단축키로 실행하기 - 프로그램 바로 가기 키<br/>

        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 3</div>
        <div class="chapterSubtitle">알아두면 쓸모있는 윈도우 기본 기능들</div>
        <p class="chapters">
          <strong>020</strong> 중요한 폴더나 파일을 숨기기 - 폴더/파일 숨김<br/>
          <strong>021</strong> 탐색기에서 파일 내용을 미리보기 - 미리 보기 창<br/>
          <strong>022</strong> 새로운 폰트 설치해보기 - 글꼴(폰트) 설치<br/>
          <strong>023</strong> 키보드가 먹통일 때 키보드 없이 입력하기 - 화상 키보드<br/>
          <strong>024</strong> 보안과 편의성을 고려하여 다양한 방식으로 윈도우 로그인하기 - 로그인 설정<br/>
          <strong>025</strong> 컴퓨터로 전화하고 문자메시지 주고받기 - 사용자 휴대폰<br/>
          <strong>026</strong> 작업 관리자 100% 활용하기 1 – 프로세스 관리<br/>
          <strong>027</strong> 작업 관리자 100% 활용하기 2 – 시작프로그램 관리<br/>
          <strong>028</strong> 예약된 시간에 컴퓨터를 자동 종료하기 - 시스템 종료 예약<br/>
          <strong>029</strong> 유선랜에 연결된 노트북으로 와이파이 공유기 만들기 (노트북 전용) - 노트북으로 Wi-Fi 핫스팟 만들기<br/>
          <strong>030</strong> 전원 공급을 조절해 컴퓨터 성능을 높이거나 노트북을 오래 사용하기 - 전원 설정<br/>
          <strong>031</strong> 마우스 커서를 포함하여 캡처하기 - 단계 레코드 / 모니터 화면 캡처<br/>

        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 4</div>
        <div class="chapterSubtitle">문서 작업의 달인이 되고 싶다면, MS 오피스/한글 꿀팁</div>
        <p class="chapters">
          <strong>032</strong> PPT 파일이 폰트 때문에 저장이 안 될 때 해결하기 - 글꼴 바꾸기<br/>
          <strong>033</strong> 워드 파일의 폰트가 이상하게 보일 때 해결하기 - 글꼴 바꾸기<br/>
          <strong>034</strong> 다른 PC에서 오피스 문서를 열 때 폰트 문제가 없도록 저장하기 - 글꼴 포함 저장<br/>
          <strong>035</strong> 문서 파일의 용량을 대폭 축소하여 저장하기 - 문서 파일 용량 축소<br/>
          <strong>036</strong> PPT 디자인을 인공지능으로 자동 생성하기 – 디자인 아이디어<br/>
          <strong>037</strong> PPT 발표 시 현재 화면, 다음 화면, 스크립트를 동시에 보기 – 발표자 보기 모드<br/>
          <strong>038</strong> 파워포인트에서 이미지 배경을 쉽게 지우기 – 배경 제거<br/>
          <strong>039</strong> 작성한 한글 파일이 손상되거나 삭제되었을 때 복구하기 - 한글 HWP 임시 파일 복구<br/>
          <strong>040</strong> 문서 인쇄 시 다양한 기능을 활용하기 – 인쇄 옵션<br/>
          <strong>041</strong> 엑셀에서 마지막 작업을 단축키만으로 다시 실행하기 - 마지막 작업 반복<br/>
          <strong>042</strong> 무료로 오피스 프로그램 사용하기 1 – 리브레오피스<br/>
          <strong>043</strong> 무료로 오피스 프로그램 사용하기 2 - 폴라리스 오피스<br/>
          <strong>044</strong> 프로그램 설치 없이 무료로 워드프로세서 문서 작성하기 - 구글 독스<br/>
          <strong>045</strong> 프로그램 설치 없이 무료로 스프레드시트 문서 작성하기 - 구글 스프레드시트<br/>
          <strong>046</strong> 프로그램 설치 없이 무료로 프레젠테이션 문서 작성하기- 구글 슬라이드<br/>
        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 5</div>
        <div class="chapterSubtitle">업무에 감칠맛 더하는 유용한 프로그램들</div>
        <p class="chapters">
          <strong>047</strong> 프로그램 설치 없이 사진에 모자이크하기 - 그림판<br/>
          <strong>048</strong> 나만의 파일을 저장하고 어디서든 활용하기 - 드롭박스, 구글 드라이브, 원드라이브<br/>
          <strong>049</strong> 다른 컴퓨터에 원격으로 접속하고 제어하기 – 팀뷰어<br/>
          <strong>050</strong> 컴퓨터가 느려질 때 빠르게 최적화하기 – 고클린<br/>
          <strong>051</strong> 컴퓨터 바탕 화면에 붙이는 메모장 프로그램 활용하기 - Sticky Notes<br/>
          <strong>052</strong> 화면 보호기를 사용하기- 화면 보호기<br/>
          <strong>053</strong> 인터넷에서 마음에 드는 이미지를 발견했을 때, 관련 정보 찾기 - 구글 이미지 검색<br/>
          <strong>054</strong> 크롬 브라우저의 활용을 높이는 추가 기능 활용하기 - 크롬 확장 프로그램<br/>

        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 6</div>
        <div class="chapterSubtitle">전산팀처럼 능숙하게 윈도우 설치하기</div>
        <p class="chapters">
          <strong>055</strong> 바이오스/UEFI 설정 화면 들어가기 - BIOS/UEFI 들어가기<br/>
          <strong>056</strong> 바이오스/UEFI에서 부팅 암호 설정하기 - BIOS/UEFI 암호 설정<br/>
          <strong>057</strong> CMOS 비밀번호를 잊어버렸을 때 문제 해결하기 - CMOS 초기화<br/>
          <strong>058</strong> 바이오스/UEFI 화면 스크린샷 찍기 - BIOS/UEFI 화면 캡처<br/>
          <strong>059</strong> USB, 하드디스크 등 저장장치에서 모든 정보 삭제하기 - 디스크 포맷<br/>
          <strong>060</strong> 윈도우를 처음 상태로 포맷하기 - PC 초기화<br/>
          <strong>061</strong> 윈도우 설치를 위한 부팅 디스크 만들기 - 윈도우 USB 부팅 디스크<br/>
          <strong>062</strong> 윈도우 설치를 위한 부팅 디스크 선택하기 - 부팅 옵션<br/>
          <strong>063</strong> 윈도우 설치를 위해 부팅 우선순위 변경하기 - BIOS/UEFI 부팅 순서<br/>
          <strong>064</strong> 윈도우 설치하기 - 윈도우 설치<br/>
          <strong>065</strong> 최신 윈도우 장치 드라이버를 가장 쉽게 설치하기 - 3DP Chip<br/>

        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 7</div>
        <div class="chapterSubtitle">알고 보면 쉬운 컴퓨터 설정, 직접 시도하기</div>
        <p class="chapters">
          <strong>066</strong> 내 PC 사양 한눈에 확인하기- 시스템 정보<br/>
          <strong>067</strong> 인터넷을 사용하기 위해 IP 주소를 설정하기 - 고정 IP 설정<br/>
          <strong>068</strong> 32비트와 64비트 윈도우 차이를 알아보기- 시스템 종류<br/>
          <strong>069</strong> USB로 연결된 프린터 추가하기 - 로컬 프린터 연결<br/>
          <strong>070</strong> 네트워크로 연결된 프린터 추가하기 - 네트워크 프린터 연결<br/>
          <strong>071</strong> 윈도우 시스템 파일을 백업하기 - 윈도우 복원 지점 만들기<br/>
          <strong>072</strong> 고장 난 윈도우 시스템을 이전으로 되돌리기 - 윈도우 시스템 복원<br/>
          <strong>073</strong> 윈도우의 기본 보안 기능을 잠시 중지시키기 - Windows Defender와 바이러스 및 위협 방지 해제<br/>
          <strong>074</strong> 포맷 없이 하드디스크 파티션을 나누고 합치기 - 하드디스크 파티션 나누기<br/>

        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 8</div>
        <div class="chapterSubtitle">스마트폰을 유용하게 활용하는 방법</div>
        <p class="chapters">
          <strong>075</strong> 스마트폰으로 전자문서에 서명하기 - 전자서명<br/>
          <strong>076</strong> PC 없이 스마트폰에서 문서 인쇄하기 - 문서 인쇄<br/>
          <strong>077</strong> 스캐너 없이 스마트폰으로 문서 스캔하기 - Microsoft Lense<br/>
          <strong>078</strong> 팩스 없이 스마트폰으로 팩스 보내고 받기 - 모바일팩스<br/>
          <strong>079</strong> 사진 촬영만으로 쉽게 명함 관리하기 – 리멤버<br/>
          <strong>080</strong> 다이어리 없이 스마트폰으로 일정을 관리하기 - 구글 캘린더<br/>
          <strong>081</strong> 자주 가는 사이트를 스마트폰 앱으로 만들기 - Progressive Web App<br/>
          <strong>082</strong> 자주 사용하는 채팅방 바로가기 만들기 – 카카오톡<br/>
          <strong>083</strong> 화질저하 없이 원본사진 주고받기 - 카카오톡<br/>
          <strong>084</strong> 잃어버린 스마트폰을 원격으로 찾고 제어하기 - 휴대전화 찾기<br/>
          <strong>085</strong> 받은 문자 메시지를 음성으로 읽어주기 - 구글 어시스턴트 Voice Match<br/>
          <strong>086</strong> 스마트폰에서 보던 동영상을 TV에서 보기 - 스마트폰 미러링<br/>
          <strong>087</strong> 스마트폰의 사용 속도가 느린 문제 해결하기 - 디바이스 케어<br/>
          <strong>088</strong> 갑자기 앱이 자주 중단되는 문제 해결하기 - Android 시스템 WebView<br/>

        </p>
      </div>
      
      <br/><br/><hr/><br/>
      <div class="chapter">
        <div class="chapterTitle">CHAPTER 9</div>
        <div class="chapterSubtitle">업무를 방해하는 컴퓨터 문제를 해결하는 방법</div>
        <p class="chapters">
          <strong>089</strong> PC 화면에 있는 아이콘과 글자가 너무 작아요 - 배율 및 레이아웃 조정<br/>
          <strong>090</strong> 이미지 파일을 인쇄하면 화질이 깨져요 - DPI<br/>
          <strong>091</strong> 마우스 커서가 갑자기 사라졌어요 - 마우스 설정<br/>
          <strong>092</strong> 컴퓨터가 자주 멈춰요 - 컴퓨터 다운 시 해결 방법<br/>
          <strong>093</strong> 문서를 인쇄하면 일부 내용이 잘려서 나와요 - 문서 설정 및 프린터 설정<br/>
          <strong>094</strong> 사용하려는 프로그램을 윈도우가 차단시켜요 - 마이크로소프트 디펜더<br/>
          <strong>095</strong> 램이 4GB밖에 인식되지 않아요 - 주기억장치 용량 인식<br/>
          <strong>096</strong> USB 메모리 또는 하드디스크 용량이 적게 나와요 - 보조기억장치 용량 표기<br/>
          <strong>097</strong> 키보드와 마우스가 먹통이에요 - USB 장치 인식<br/>
          <strong>098</strong> 모니터를 여러 대 쓰는데 화면이 한 대만 나와요 - 모니터 포트 잠금 해제<br/>
          <strong>099</strong> 컴퓨터에서 소리가 안 나요 - 소리 설정<br/>
          <strong>100</strong> 추가한 하드디스크가 내 컴퓨터에 보이지 않아요 - 하드디스크 드라이브 설정<br/>
          <strong>101</strong> 모니터 화면이 누렇게 보여요 - 모니터/그래픽카드 설정<br/>

        </p>
      </div>
    </div>
  </section>
